
.container {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px; left: 0px;
}

.content {
    margin: 3px;
    flex: 0;
}

.cv_footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    white-space: nowrap;
}

.map {
    flex: 1;
    width: 100%;
    border-width: 1px;
    margin: 3px;
}